{{- $nav := . -}}
{{- if or $nav.showCategories $nav.showTags $nav.custom -}}
<div class="nav wrap">
    <nav class="nav">
        {{- range $nav.custom -}}
        {{- $url := .url | safeURL -}}
        {{- if strings.HasPrefix $url "/" -}}{{- $url = $url | relLangURL -}}{{- end -}}
        <a class="nav item" href="{{- $url -}}" {{- if strings.HasPrefix $url "https" -}}target="_blank"
            {{- end -}}>{{- .title -}}</a>
        {{- end -}}
    </nav>
</div>
{{- end -}}
